<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paulbina.restaurant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurant"
        android:name="com.paulbina.restaurant.GlobalVariable"
        tools:ignore="Instantiatable">
        <activity android:name=".PasteActivity"></activity>
        <activity android:name=".Mic_dejunActivity" />
        <activity android:name=".PesteActivity" />
        <activity android:name=".PorcActivity" />
        <activity android:name=".PuiActivity" />
        <activity android:name=".SodaActivity" />
        <activity android:name=".water" />
        <activity android:name=".AlegerePersoanaActivity" />
        <activity android:name=".BeerActivity" />
        <activity android:name=".Activitate2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>